.w220 { width: 220px; }
.pb200 { padding-bottom: 200px; }
.pt10 { padding-top: 10px; }
.w10 { width: 10px; }
.h10 { height: 10px; }
.mt8 { margin-top: 8px; }
.ml10 { margin-left: 10px; }
.mr5 { margin-right: 5px; }
.w150 { width: 150px; }
.h28 { height: 28px; }
.c-fff { color: #fff; }
.pl10 { padding-left: 10px; }
.f16 { font-size: 16px; }
.mt10 { margin-top: 10px; }
.w16 { width: 16px; }
.h6 { height: 6px; }
.ml25 { margin-left: 25px; }
.mt4 { margin-top: 4px; }
.f12 { font-size: 12px; }
.ml5 { margin-left: 5px; }
.pl15 { padding-left: 15px; }
.h80 { height: 80px; }
.f26 { font-size: 26px; }
.f20 { font-size: 20px; }
.w300 { width: 300px; }
.c-2B7BFF { color: #2B7BFF; }
.f30 { font-size: 30px; }
.w100 { width: 100px; }
.pl30 { padding-left: 30px; }
.w50p { width: 50%; }
.mmt20 { margin-top: 20px; }
.w200 { width: 200px; }
.w20p { width: 20%; }
.w30p { width: 30%; }
.mt20 { margin-top: 20px; }
.mb100 { margin-bottom: 100px; }
.w90 { width: 90px; }
.h20 { height: 20px; }
.ml30 { margin-left: 30px; }
.mb10 { margin-bottom: 10px; }
.mt30 { margin-top: 30px; }
.w70 { width: 70px; }
.ml20 { margin-left: 20px; }
.mr20 { margin-right: 20px; }
.h400 { height: 400px; }
.pt3 { padding-top: 3px; }
.w80 { width: 80px; }
.mr40 { margin-right: 40px; }
.mt15 { margin-top: 15px; }
.mb5 { margin-bottom: 5px; }
.f18 { font-size: 18px; }
.w60 { width: 60px; }
.mt5 { margin-top: 5px; }
.mr10 { margin-right: 10px; }
.c-blue { color: #blue; }
.c-FF0200 { color: #FF0200; }
.mr30 { margin-right: 30px; }
.h30 { height: 30px; }
.h3 { height: 3px; }
.w30 { width: 30px; }
.w50 { width: 50px; }
.c-FF2D25 { color: #FF2D25; }
.f14 { font-size: 14px; }
.ml50 { margin-left: 50px; }
