html {
  color: #333;
  background-color: #F5F6F6;
  text-size-adjust: 100%;
}

html * {
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
  outline: none;
  text-size-adjust: none;
  tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  font-family: system-ui;
  line-height: 1.2;
  height: 100vh;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

input,
select,
textarea {
  color: #333;
  font-size: 24px;
  border-radius: 0;
  outline: none;
  border: none;
  background: transparent;
  appearance: none;
  tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  border: none;
}

input,
select {
  vertical-align: middle;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset,
img {
  border: 0;
}

img {
    content: normal !important;
}

del {
  text-decoration: line-through;
}

address,
caption,
cite,
code,
dfn,
em,
i,
th,
var {
  font-weight: 500;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.blank {
  padding: 40px 24px;
}

[v-cloak] {
  display: none;
}

.fl {
  display: inline-block;
  float: left;
}

.fr {
  display: inline-block;
  float: right;
}

.center {
  text-align: center;
}

a,
a:link,
a:hover,
a:active {
  text-decoration: none;

  color: #666;
}

.bold {
  font-weight: 600;
}

.scale8 {
  transform: scale(0.8);
}
.Semibold {
  font-family: Semibold;
}

.Regular {
  font-family: Regular;
}

.fr {
  float: right;
}
.pr {
  position: relative;
}
.fl {
  float: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.vm:after {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.bgWhite {
  background: #fff;
}
.flex {
  display: flex;

  &.fdc {
    flex-direction: column;
  }


  & .cell {
    flex-grow: 1;
  }

  &.aic {
    align-items: center;
  }

  &.jcc {
    justify-content: center;
  }
  &.air {
    align-items: flex-end;
  }
}

.cblue {
  background-color: #0075B0;
}
.shadow {
  box-shadow: 2px 2px 5px #888888;
}
.pointer {
  cursor: pointer;
}
.blank-gray {
  height: 40px;
  background: linear-gradient(180deg, #F5F7FE, #D0CCCC, #CECCCC)
}
.border-gray {
  border 1px solid #D0CCCC
}
.border-deep-gray {
  border 3px solid #AFA9A9  
}